<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/error.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="style.css" rel="stylesheet"/>



    <title>Employee Web Application</title>

    <style>
	body {
		padding-top: 50px;
	}

</style>
</head>
<body>

<div class="container login-container">
    <div class="row justify-content-md-center">
        <div class="col-md-4.1 login-picture">
            <img alt="" th:src="@{/images/logo.jpg}"  width="360" height="398">
        </div>
        <div class="col-md-4 login-form">
            <center><h3>SIGN IN</h3></center>

            <form method="post" th:action="@{/admin/v1/dashboard/}" th:object="${usr}">
                <div th:if="${#fields.hasErrors('global')}" class="error-box error-danger" >
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{email}" class="form-control" placeholder="Your Username *"
                           id="userNameInput" aria-describedby="userNameHelp"/>
                    <ul>
                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <input type="password"  th:field="*{password}" class="form-control" placeholder="Your Password *"
                           id="adminPasswordInput" aria-describedby="adminPasswordHelp"/>
                    <ul>
                        <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="form-group">

                    <a href="#" class="ForgetPwd">Forget Password?</a>
                    <div>
                        <a th:href = "@{/api/check/register}" class="btn"> Registration</a>
                    </div>
                    <div>
                        <a th:href = "@{/api/check/forgetpwd}" class="btn"> Lupa Password</a>
                    </div>
                    <div>
                        <a th:href = "@{/api/check/index1}" class="btn">Home</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>